/* Centralizando o conteúdo da página */
body {
    display: flex;
    flex-direction: column; /* Para permitir o alinhamento vertical do cabeçalho e conteúdo */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

/* Container principal */
.container {
    text-align: center;
}

/* Cabeçalho com o botão de voltar */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

/* Estilização do título */
h1 {
    font-size: 2.5em;
    color: #2c3e50;
    margin-left: 10px; /* Espaço entre o botão e o título */
}

/* Estilização do botão de voltar */
.back-button {
    background-color: #2e8b57; /* Fundo verde */
    border: none;
    font-size: 24px;
    color: white; /* Cor da seta */
    padding: 10px; /* Adicionando padding */
    border-radius: 5px; /* Cantos arredondados */
    cursor: pointer;
    margin-right: 10px; /* Espaço entre o botão e o título */
    transition: background-color 0.3s, transform 0.3s; /* Transições suaves para cor e transformação */
}

.back-button:hover {
    background-color: #3cb371; /* Verde mais claro ao passar o mouse */
    transform: scale(1.05); /* Aumenta um pouco o botão ao passar o mouse */
}

/* Container para os botões */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;  /* Espaçamento horizontal entre os botões */
}

/* Estilização dos botões */
button {
    padding: 15px 30px;
    background-color: #2e8b57; /* Cor verde escura */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3cb371; /* Cor verde mais clara ao passar o mouse */
}