/* Centralizando o conteúdo da página */
body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Mudar para flex-start para não ocupar toda a altura */
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

/* Container principal */
.container {
    width: 80%;
    max-width: 600px; /* Ajustar a largura máxima */
    text-align: center;
    margin: 20px auto; /* Margem para não colar na borda superior */
}

/* Estilização do cabeçalho */
.header {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    margin-bottom: 20px; /* Espaço abaixo do cabeçalho */
}

/* Estilização do título da página */
h1 {
    font-size: 2.5em;
    color: #2c3e50;
    margin-left: 10px; /* Espaço entre o botão e o título */
}

/* Estilização do nome da pesquisa */
.nome-pesquisa {
    font-size: 1.5em;
    color: #2c3e50;
    margin: 20px 0; /* Espaço acima e abaixo do nome da pesquisa */
}

/* Estilização do botão de voltar */
.back-button {
    background-color: #2e8b57; /* Verde escuro */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.back-button:hover {
    background-color: #3cb371; /* Verde mais claro */
}

/* Estilização do botão de salvar pergunta */
.salvar-button {
    padding: 10px 20px;
    background-color: #2e8b57; /* Verde escuro */
    color: white; /* Letra branca */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Espaço acima do botão de salvar */
}

.salvar-button:hover {
    background-color: #3cb371; /* Verde mais claro */
}

/* Estilização do botão de adicionar opção */
.adicionar-opcao {
    padding: 5px 10px;
    background-color: #5cb85c; /* Verde claro */
    color: white; /* Letra branca */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.adicionar-opcao:hover {
    background-color: #66bb6a; /* Verde um pouco mais claro */
}

/* Espaçamento entre as opções de resposta */
#respostas_container input {
    margin-bottom: 10px; /* Espaço entre as caixas de texto */
}