<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Adicionar Resposta</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Adicionar Resposta</h1>
    <form method="POST">
        <label for="entrevistado_id">ID do Entrevistado:</label>
        <input type="number" name="entrevistado_id" required><br>
        <label for="resposta">Resposta:</label>
        <textarea name="resposta" required></textarea><br><br>
        <button type="submit">Salvar</button>
    </form>
    <button onclick="window.history.back();" class="back-button">Voltar</button>
</body>
</html>
