<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body>
    <h1>Página do Administrador</h1>
    <button onclick="window.location.href='/gerenciar_pesquisa'">Gerenciar Pesquisa</button>
    <button onclick="window.location.href='/gerenciar_entrevistado'">Gerenciar Entrevistado</button>
    <br>
    <br>
    <button onclick="window.location.href='/'">Voltar para o Início</button>
</body>
</html>