<form method="POST">
    <label for="entrevistado_nome">Nome:</label>
    <input type="text" name="entrevistado_nome" value="{{ entrevistado[1] }}" required><br>
    
    <label for="entrevistado_email">Email:</label>
    <input type="email" name="entrevistado_email" value="{{ entrevistado[2] }}" required><br>
    
    <label for="entrevistado_nome_social">Nome Social:</label>
    <input type="text" name="entrevistado_nome_social" value="{{ entrevistado[3] }}"><br>
    
    <label for="entrevistado_data_nascimento">Data de Nascimento:</label>
    <input type="date" name="entrevistado_data_nascimento" value="{{ entrevistado[4] }}" required><br>
    
    <label for="sexo">Sexo:</label>
    <select name="sexo" required>
        <option value="M" {% if entrevistado[5] == 'M' %}selected{% endif %}>M</option>
        <option value="F" {% if entrevistado[5] == 'F' %}selected{% endif %}>F</option>
    </select><br>
    
    <input type="submit" value="Salvar">
</form>