<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Editar Pergunta</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Editar Pergunta</h1>
    <form method="POST">
        <label for="pergunta_texto">Texto da Pergunta:</label>
        <input type="text" name="pergunta_texto" value="{{ pergunta[3] }}" required><br>
        <label for="tipo_id">Tipo de Pergunta:</label>
        <input type="number" name="tipo_id" value="{{ pergunta[2] }}" required><br><br>
        <button type="submit">Salvar</button>
    </form>
    <button onclick="window.history.back();" class="back-button">Voltar</button>
</body>
</html>
