<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Pesquisas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='gerenciar_pesquisa.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <button class="back-button" onclick="window.location.href='/'">←</button>
            <h1>Pesquisas Cadastradas</h1>
        </div>

        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID da Pesquisa</th>
                    <th>Nome da Pesquisa</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for pesquisa in pesquisas %}
                <tr>
                    <td>{{ pesquisa[0] }}</td>
                    <td>{{ pesquisa[1] }}</td>
                    <td>
                        <a class="action-button" href="#">Editar</a> 
                        <a class="action-button" href="#">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Botão de Cadastrar -->
        <div>
            <form action="{{ url_for('cadastrar_pesquisa') }}" method="GET">
                <button type="submit" class="cadastrar-button">Cadastrar Nova Pesquisa</button>
            </form>
        </div>
    </div>
</body>
</html>