<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Respostas da Pesquisa</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Respostas</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Pergunta</th>
                <th>Entrevistado</th>
                <th>Resposta</th>
                <th>Data de Cadastro</th>
            </tr>
        </thead>
        <tbody>
            {% for resposta in respostas %}
            <tr>
                <td>{{ resposta[0] }}</td>
                <td>{{ resposta[1] }}</td>
                <td>{{ resposta[2] }}</td>
                <td>{{ resposta[3] }}</td>
                <td>{{ resposta[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/adicionar_resposta/{{ pesquisa_id }}">Adicionar Resposta</a>
    <button onclick="window.history.back();" class="back-button">Voltar</button>
</body>
</html>
