<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Telefone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastrar_telefone.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <button class="back-button" onclick="window.history.back()">←</button>
            <h1>Cadastro de Endereço</h1>
        </div>
        
        <h2>Entrevistado: {{ entrevistado_nome }}</h2>
        <h3>Pesquisa: {{ pesquisa_nome }}</h3>

        <form action="{{ url_for('salvar_telefone') }}" method="POST" class="form-cadastro">
            <input type="hidden" name="entrevistado_id" value="{{ entrevistado_id }}">
            <input type="hidden" name="pesquisa_id" value="{{ pesquisa_id }}">

            <label for="ddd">DDI:</label>
            <input type="text" id="ddi" name="ddi" required><br>

            <label for="ddd">DDD:</label>
            <input type="text" id="ddd" name="ddd" required><br>

            <label for="telefone">Número:</label>
            <input type="text" id="telefone" name="telefone" required><br>

            <label for="telefone_tipo">Tipo do Telefone:</label>
            <select id="telefone_tipo" name="telefone_tipo_id" required>
                {% for telefone_tipo in telefone_tipos %}
                <option value="{{ telefone_tipo[0] }}">{{ telefone_tipo[1] }}</option>
                {% endfor %}
            </select><br>

            <label for="eh_telefone_principal">Telefone Principal:</label>
            <input type="checkbox" id="eh_telefone_principal" name="eh_telefone_principal"><br>

            <button type="submit" class="submit-button">Cadastrar</button>
        </form>
    </div>
</body>
</html>